@import "tailwindcss";

body {
  background-color: #ffffff;
  color: #000000;
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.6;
}

::selection {
  background-color: #578cff;
  color: white;
}
